body {
    background-color: #111325;
    font-family: "Helvetica Neue",
        Helvetica,
        "PingFang SC",
        "Hiragino Sans GB",
        "Microsoft YaHei",
        "微软雅黑",
        Arial,
        sans-serif;

}

.ivu-btn-primary {
    border-radius: 1px;
    width: auto;
    height: 35px;
    color: #fff;
    background-color: #0062FF;
    border-color: #0062FF;
}

.ivu-btn-small {
    height: 30px !important;
}

.ivu-btn-info {
    border-radius: 1px;
    height: 35px;
    color: #00F5F0;
    background-color: #44000000;
    border-color: #00F5F0;
}

.ivu-layout {
    background-color: #111325;
}

.layout-margin-top-10 {
    margin-top: 10px;
}

.layout-margin-top-20 {
    margin-top: 20px;
}

.layout-margin-top-30 {
    margin-top: 30px;
}

.layout-margin-top-40 {
    margin-top: 40px;
}

.layout-padding-top-10 {
    padding-top: 10px;
}

.layout-padding-top-20 {
    padding-top: 20px;
}

.layout-padding-top-30 {
    padding-top: 30px;
}

.layout-margin-bottom-10 {
    margin-top: 10px;
}

.layout-margin-bottom-20 {
    margin-top: 20px;
}

.layout-margin-bottom-30 {
    margin-top: 30px;
}

.layout-margin-bottom-40 {
    margin-bottom: 40px;
}

.layout-padding-bottom-10 {
    padding-bottom: 10px;
}

.layout-padding-bottom-20 {
    padding-bottom: 20px;
}

.layout-padding-bottom-30 {
    padding-bottom: 30px;
}

.layout-left {
    text-align: center;
    float: left;
}

.layout-right {
    text-align: center;
    float: right;
}

.ivu-message-success .ivu-icon {
    color: none !important;
}

.ivu-message-error .ivu-icon {
    color: #FF5E5E !important;
}

/*定义滚动条宽高及背景，宽高分别对应横竖滚动条的尺寸*/

::-webkit-scrollbar {
    width: 0px;
    /*对垂直流动条有效*/
    height: 10px;
    /*对水平流动条有效*/
}

/*定义滚动条的轨道颜色、内阴影及圆角*/
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #191F34;
    border-radius: 3px;
}


/*定义滑块颜色、内阴影及圆角*/
::-webkit-scrollbar-thumb {
    border-radius: 7px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #191F34;
}

/*定义两端按钮的样式*/
::-webkit-scrollbar-button {
    background-color: cyan;
}

/*定义右下角汇合处的样式*/
::-webkit-scrollbar-corner {
    background: khaki;
}