body {
    background-color: #111325;
}

.ivu-btn-primary {
    border-radius: 1px;
    width: auto;
    height: 40px;
    color: #fff;
    background-color: #0062FF;
    border-color: #0062FF;
}

.ivu-btn-small {
    height: 30px !important;
}

.ivu-btn-info {
    border-radius: 1px;
    width: auto;
    height: 40px;
    color: #00F5F0;
    background-color: #44000000;
    border-color: #00F5F0;
}

.ivu-layout {
    background-color: #111325;
}